*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 700px;
    font-family: 'Roboto', sans-serif;
}

.grid-container{
    background: #000;
    width: 500px;
    height: 600px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 100px);
}

.box{
   border-radius: 10px;
   margin: 10px;
}

.caja1{
    background: green;
    grid-column: 1 / 4 span;
    grid-row: 1;
}

.caja2{
    background: yellow;
    grid-column: 1 / 2 span;
}

.caja3{
    background: aqua;
    grid-column: 3 / 2 span;
}

.caja4{
    background: violet;
    grid-column: 1 / 2 span;
    grid-row: 3 / 5 span;
}

.caja5{
    background: rgb(62, 61, 61);
    grid-column: 3 / 2 span;
    grid-row: 3 / 2 span;
}

.caja6{
    background:  rgb(46, 2, 46);
}

.caja7{
    background: orangered;
}

.caja8{
    background: rgb(177, 173, 173);
}

.caja9{
    background: red;
}